In [2]:
!pip install -U textblob-de==0.4.3

Collecting textblob-de==0.4.3
  Downloading textblob_de-0.4.3-py2.py3-none-any.whl (468 kB)
Collecting textblob>=0.9.0
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in d:\programs\anaconda3\lib\site-packages (from textblob>=0.9.0->textblob-de==0.4.3) (3.5)
Requirement already satisfied, skipping upgrade: tqdm in d:\programs\anaconda3\lib\site-packages (from nltk>=3.1->textblob>=0.9.0->textblob-de==0.4.3) (4.50.2)
Requirement already satisfied, skipping upgrade: joblib in d:\programs\anaconda3\lib\site-packages (from nltk>=3.1->textblob>=0.9.0->textblob-de==0.4.3) (0.17.0)
Requirement already satisfied, skipping upgrade: click in d:\programs\anaconda3\lib\site-packages (from nltk>=3.1->textblob>=0.9.0->textblob-de==0.4.3) (7.1.2)
Requirement already satisfied, skipping upgrade: regex in d:\programs\anaconda3\lib\site-packages (from nltk>=3.1->textblob>=0.9.0->textblob-de==0.4.3) (2020.10.15)
Installing collected packages: textblob, textblob-de
Successfully installed textblob-0.15.3 textblob-de-0.4.3

In [3]:
!python -m textblob.download_corpora

Finished.

[nltk_data] Downloading package brown to C:\Users\Emre
[nltk_data]     Tekce\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\brown.zip.
[nltk_data] Downloading package punkt to C:\Users\Emre
[nltk_data]     Tekce\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package wordnet to C:\Users\Emre
[nltk_data]     Tekce\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Emre Tekce\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.
[nltk_data] Downloading package conll2000 to C:\Users\Emre
[nltk_data]     Tekce\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\conll2000.zip.
[nltk_data] Downloading package movie_reviews to C:\Users\Emre
[nltk_data]     Tekce\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\movie_reviews.zip.

#### Sentiment Analysis Klinikum.de

In [1]:
import pandas as pd
import textblob
from textblob_de import TextBlobDE

In [2]:
df = pd.read_csv('../csv/merged_all.csv')
df.reset_index(drop=True, inplace=True)
df_temp = df.dropna(subset=['Textuelle_Bewertung'], axis=0)

In [3]:
df.shape

(3005, 12)

In [4]:
df_temp.shape

(2957, 12)

In [5]:
dikt={}
for i in range(1,25):
    sent=[]
    if df.loc[df['Klinik_ID']==i]['Textuelle_Bewertung'] is not str('') and df.loc[df['Klinik_ID']==i]['Textuelle_Bewertung'] is not None:
        for a in df.loc[df['Klinik_ID']==i]['Textuelle_Bewertung']:
            blob = TextBlobDE(str(a))
            x=blob.sentiment[0]
            sent.append(x)
    dikt[i] = sent

#### Find Number of Comments as Positive Negative and Neutral According to Sentiment Analysis

In [7]:
perc_dic = {}
for key,values in dikt.items():
    positive = 0
    negative = 0
    neutral = 0
    for i in values:
        if i>0:
            positive+=1
        elif i<0:
            negative+=1
        else:
            neutral+=1
    perc_dic[key]= [negative,neutral,positive]

In [8]:
perc_dic

{1: [4, 2, 17],
 2: [6, 7, 57],
 3: [15, 7, 96],
 4: [36, 4, 45],
 5: [38, 9, 157],
 6: [44, 13, 118],
 7: [22, 11, 131],
 8: [39, 18, 188],
 9: [16, 3, 58],
 10: [23, 7, 69],
 11: [9, 1, 40],
 12: [12, 10, 58],
 13: [86, 32, 344],
 14: [3, 1, 5],
 15: [49, 13, 137],
 16: [20, 6, 97],
 17: [30, 3, 89],
 18: [12, 3, 42],
 19: [14, 10, 181],
 20: [37, 5, 73],
 21: [23, 5, 80],
 22: [43, 7, 88],
 23: [1, 1, 41],
 24: [12, 2, 20]}

In [19]:
df_ff = pd.DataFrame.from_dict(perc_dic, orient='index', columns=['Negative', 'Neutral', 'Positive'])

In [22]:
df_ff.reset_index(inplace=True)
df_ff = df_ff.rename(columns = {'index':'Klinik_ID'})

In [26]:
df_ff['Total_Comments'] = df_ff['Negative'] + df_ff['Neutral'] + df_ff['Positive']

In [27]:
df_ff

    Klinik_ID  Negative  Neutral  Positive  Total_Comments
0           1         4        2        17              23
1           2         6        7        57              70
2           3        15        7        96             118
3           4        36        4        45              85
4           5        38        9       157             204
5           6        44       13       118             175
6           7        22       11       131             164
7           8        39       18       188             245
8           9        16        3        58              77
9          10        23        7        69              99
10         11         9        1        40              50
11         12        12       10        58              80
12         13        86       32       344             462
13         14         3        1         5               9
14         15        49       13       137             199
15         16        20        6        97             123
16         17        30        3        89             122
17         18        12        3        42              57
18         19        14       10       181             205
19         20        37        5        73             115
20         21        23        5        80             108
21         22        43        7        88             138
22         23         1        1        41              43
23         24        12        2        20              34

In [28]:
df_ff.to_json(r'number_of_comments_klinikumbew.json')

#### Find All Sentiment Points

In [29]:
new_dic = {}
for key,values in dikt.items():
    a = [(i * 3)+3 for i in values]
    a =sum(a)/len(a)
    new_dic[key]= a

In [30]:
for key in  new_dic.items():
    print(key)

(1, 3.769854914250509)
(2, 4.03318790664223)
(3, 4.026774198012573)
(4, 2.958658118555725)
(5, 3.599768693247385)
(6, 3.426292142335731)
(7, 3.9198181416361)
(8, 4.013549641848268)
(9, 3.768454765121107)
(10, 3.7235265084949623)
(11, 3.705837085328426)
(12, 3.765730153093435)
(13, 3.7478150689203)
(14, 3.723382173382174)
(15, 3.6460624063540013)
(16, 3.8571494972944893)
(17, 3.728154576711497)
(18, 3.753037529439885)
(19, 4.149366850608494)
(20, 3.5224135495455333)
(21, 3.593228901640802)
(22, 3.529619093834468)
(23, 4.219752039126544)
(24, 3.4115988875977243)

In [31]:
def make_df_from_dic(dic, column_name):
    return pd.DataFrame(list(dic.items()),columns = ['Klinik_ID',column_name])

In [32]:
df_kb = make_df_from_dic(new_dic,"KB_Sentiment")

In [34]:
df_kb.to_json(r'klinikbewertung_sentiment.json')

#### Sentiment Analysis GoogleMaps

In [35]:
df_google = pd.read_csv('../csv/merged_all_google.csv')
df_google.reset_index(drop=True, inplace=True)
df_temp_google = df_google.dropna(subset=['Textuelle_Bewertung'], axis=0)

In [ ]:
df_google.shape

In [ ]:
df_temp_google.shape

In [36]:
dikt={}
for i in df_google['Klinik_ID'].unique():
    sent=[]
    if df_google.loc[df_google['Klinik_ID']==i]['Textuelle_Bewertung'] is not str(''):
        for a in df_google.loc[df_google['Klinik_ID']==i]['Textuelle_Bewertung']:
            blob = TextBlobDE(str(a))
            x=blob.sentiment[0]
            sent.append(x)
    dikt[i]=sent

In [37]:
perc_dic_g = {}

for key,values in dikt.items():
    positive = 0
    negative = 0
    neutral = 0
    for i in values:
        if i>0:
            positive+=1
        elif i<0:
            negative+=1
        else:
            neutral+=1
    perc_dic_g[key]= [negative,neutral,positive]

In [42]:
df_gg = pd.DataFrame.from_dict(perc_dic_g, orient='index', columns=['Negative', 'Neutral', 'Positive'])
df_gg.reset_index(inplace=True)
df_gg = df_gg.rename(columns = {'index':'Klinik_ID'})
df_gg=df_gg.sort_values(by='Klinik_ID', ascending=True)
df_gg.reset_index(drop= True, inplace=True)

In [44]:
df_gg['Total_Comments'] = df_gg['Negative'] + df_gg['Neutral'] + df_gg['Positive']

In [45]:
df_gg

    Klinik_ID  Negative  Neutral  Positive  Total_Comments
0           1         9       24        74             107
1           2         9       38        39              86
2           3        10       47        81             138
3           5         5       15         5              25
4           6        57       83       122             262
5           7         8       45        45              98
6           8        11       54       113             178
7           9        12       33        71             116
8          10        17       35        59             111
9          11        10       39        38              87
10         12        14       11        19              44
11         14        12       28        29              69
12         16        60       96       147             303
13         17        27       59        61             147
14         18        13       23        37              73
15         19         4       21        26              51
16         22         0        3         1               4
17         23         8       25        35              68
18         24        15       24        28              67

In [47]:
df_gg.to_json(r'number_of_comments_google.json')

In [45]:
new_dic = {}
for key,values in dikt.items():
    a = [(i * 2)+3 for i in values]
    a =sum(a)/len(a)
    new_dic[key]= a

In [46]:
for key in new_dic.items():
    print(key)

(16, 3.3549393454463945)
(14, 3.362184064031305)
(7, 3.4695969903112753)
(5, 3.003333333333333)
(1, 3.7875176696711463)
(8, 3.677269160302868)
(6, 3.331101208922248)
(17, 3.2618898230570266)
(3, 3.653802709878824)
(19, 3.556171802054155)
(12, 3.2244919266857677)
(2, 3.363152684510748)
(24, 3.2137446011699744)
(23, 3.5749299719887953)
(10, 3.395229473387367)
(11, 3.329167935609157)
(22, 3.0839285714285714)
(18, 3.4017968257009352)
(9, 3.574532320846976)

#### Gesamtsterne Mean of GoogleMaps

In [49]:
mean_all_comments = {}
for i in df_google['Klinik_ID'].unique():
    a=0
    count=0
    for k in df_google.loc[df_google['Klinik_ID']==i]['Sternebewertung']:
        a=a+int(k.strip(" Stern"))
        count=count+1
        mean = a/count
    mean_all_comments[i] = mean
for i in mean_all_comments.items():
    print(i)

(16, 3.0396039603960396)
(14, 2.681159420289855)
(7, 3.795918367346939)
(5, 3.56)
(1, 4.289719626168225)
(8, 4.140449438202247)
(6, 3.133587786259542)
(17, 2.8979591836734695)
(3, 4.2101449275362315)
(19, 3.9607843137254903)
(12, 2.727272727272727)
(2, 3.86046511627907)
(24, 2.462686567164179)
(23, 3.426470588235294)
(10, 3.2072072072072073)
(11, 3.2528735632183907)
(22, 3.0)
(18, 3.232876712328767)
(9, 3.8793103448275863)

#### mean_only_with_comments

In [41]:
mean_only_with_comments = {}
for i in df_temp_google['Klinik_ID'].unique():
    a=0
    count=0
    for k in df_temp_google.loc[df_temp_google['Klinik_ID']==i]['Sternebewertung']:
        a=a+int(k.strip(" Stern"))
        count=count+1
        mean = a/count
    mean_only_with_comments[i] = mean
for i in mean_only_with_comments.items():
    print(i)

(16, 3.0815450643776825)
(14, 2.5510204081632653)
(7, 3.640625)
(5, 3.25)
(1, 4.290322580645161)
(8, 4.176470588235294)
(6, 2.9504950495049505)
(17, 2.8411214953271027)
(3, 4.212121212121212)
(19, 4.0606060606060606)
(12, 2.638888888888889)
(2, 3.6666666666666665)
(24, 2.5)
(23, 3.64)
(10, 3.142857142857143)
(11, 3.210526315789474)
(22, 3.0)
(18, 3.2962962962962963)
(9, 3.8)

#### Merge All Gesamtsterne Means in a Dataframe

In [82]:
def make_df_from_dic(dic, column_name):
    return pd.DataFrame(list(dic.items()),columns = ['Klinik_ID',column_name])

In [83]:
df_different = make_df_from_dic(new_dic,"Sentiment")

In [84]:
df_mean_withnull = make_df_from_dic(mean_all_comments,"GesamtsterneWithNull")

In [85]:
df_mean_withoutnull = make_df_from_dic(mean_only_with_comments,"GesamtsterneWithoutNull")

In [94]:
df_merge_2 = pd.concat([df_different.set_index('Klinik_ID'),df_mean_withnull.set_index('Klinik_ID'), df_mean_withoutnull.set_index('Klinik_ID')], axis=1, join='inner').sort_values('Klinik_ID', ascending = True).reset_index()

df_merge = df_different.merge(df_mean_withnull, on='Klinik_ID', how='inner')

In [106]:
result_list = []
for x,y in zip(df_merge_2["Sentiment"], df_merge_2["GesamtsterneWithoutNull"]):
    result = x/y
    if result >1:
        result = 1/result   
    result_list.append(((result)*100))
df_merge_2["Accuracy"] =  result_list

In [108]:
df_merge_2["Sentiment"] = df_merge_2["Sentiment"].round(2)
df_merge_2["GesamtsterneWithNull"] = df_merge_2["GesamtsterneWithNull"].round(2)
df_merge_2["GesamtsterneWithoutNull"] = df_merge_2["GesamtsterneWithoutNull"].round(2)
df_merge_2["Accuracy"] = df_merge_2["Accuracy"].round(2)
df_merge_2

,Klinik_ID,Sentiment,GesamtsterneWithNull,GesamtsterneWithoutNull,Accuracy
0,1,3.79,4.29,4.29,88.28
1,2,3.36,3.86,3.67,91.72
2,3,3.65,4.21,4.21,86.74
3,5,3.00,3.56,3.25,92.41
4,6,3.33,3.13,2.95,88.57
5,7,3.47,3.80,3.64,95.30
6,8,3.68,4.14,4.18,88.05
7,9,3.57,3.88,3.80,94.07
8,10,3.40,3.21,3.14,92.57
9,11,3.33,3.25,3.21,96.44
10,12,3.22,2.73,2.64,81.84
11,14,3.36,2.68,2.55,75.87
12,16,3.35,3.04,3.08,91.85
13,17,3.26,2.90,2.84,87.10
14,18,3.40,3.23,3.30,96.90
15,19,3.56,3.96,4.06,87.58
16,22,3.08,3.00,3.00,97.28
17,23,3.57,3.43,3.64,98.21
18,24,3.21,2.46,2.50,77.79

#### All Analysis from Df to Json to be used in WEB

In [109]:
df_merge_2.to_json(r'sentiment_comments_google.json')